
#footer h3 {
    color: #8EAAC6;
    height: 60px;
    letter-spacing: normal;
    line-height: 51px;
    text-shadow: 1px -1px 1px #000000;
}

// ----------------------------------------------------------------------------------

p.readmore .btn{
  color: #2985C2;
}

// ----------------------------------------------------------------------------------

#sliderNav .active a,#sliderNav a.active{
	background: url("../images/blue/pagination.png") no-repeat scroll 50% 0 transparent !important;
}

body #sliderNav a{
	background: url("../images/blue/pagination.png") no-repeat scroll 50% 100% transparent !important;
}
