/************ Body ****************************************************************/

::selection{
  background-color: @selectionBackgroundColor !important;
}
::-moz-selection{
  background-color: @selectionBackgroundColor !important;
}
/************ Header ****************************************************************/
#header{
  #gradient > .vertical(@color_two,@color_three);
  color: #7D878A;
  margin-bottom: 0;
  text-shadow: 1px 1px 0 #000000;
}
#header h1,#header h2,#header h3,#header h4,#header h5,#header h6{
    color: #7D878A;
    text-shadow: 1px 1px 0 #000000;
}

#top, #top2 {
  padding-top: 10px;
}
/************ Wrapper-Content ****************************************************************/
.wrapper-content{
  padding: 20px 20px 0;
}
.addGradient{
  .wrapper-content{
    background-image: url("../images/teaser_bg_sm.png");
    background-repeat: repeat-x;
  }
  &.home{
    .wrapper-content{
      background-image: url("../images/teaser_bg.png");
    }
  }
}
/************ Icons  ****************************************************************/
.module ul [class^="icon-"],
.module ul [class*=" icon-"]
{
  color: @gray;
}
.list-striped li:hover,
.list-striped li:nth-child(odd), .list-striped dd:nth-child(odd), .row-striped .row:nth-child(odd), .row-striped .row-fluid:nth-child(odd){
  [class^="icon-"]:before,
  [class*="icon-"]:before{
    color: @textColor;
  }

}


/************ headings ****************************************************************/
h1{
  color: #000;
}
h2{
  color: #313131;
}
h3{
  color: #505050;
}
h4 {
    color: #636363;
}
h5 {
    color: #767676;
}
h6{
  color: #3A3936;
}

h2, h3,h4,h5,h6{
    font-weight: normal;
}
/************ Sidebar special styles ****************************************************************/
aside .module h3{
  border-bottom: 3px solid #D8D8D8;
}

/************ Grid-to & Grid-top2  ****************************************************************/
#grid-top h3,
#grid-top2 h3{
  color:black;
}

/************ List style in modules  ****************************************************************/
#grid-bottom .module ul.nav > li a:hover,
#grid-bottom2 .module ul.nav > li a:hover,
#grid-top .module ul.nav > li a:hover,
#grid-top2 .module ul.nav > li a:hover,
#main .module ul.nav > li a:hover{
  background-color: transparent;
  text-decoration:none;
}


#login-form ul.nav.nav-list.well{
  background-color: transparent;
  box-shadow: 0 0;
  border-radius: 0 0 0 0;
  border: 0 none;
  list-style: url("../images/bullet_clear.png")!important;
  padding: 0 0 0 19px;
}
.items-more.well{
  margin-top: 10px;
}
.archive-module.nav-list > li > a{
  padding: 0;
}

/************ Filters in archive articles  ****************************************************************/
.filters.form-actions{
  background-color: transparent;
}
p.img_caption{
  background-color: transparent;
  color: #7C7C7C;
}
/************ read more  ****************************************************************/
p.readmore{
  float: right;
  padding-bottom: 1px;
}
p.readmore .btn{
  font-weight: bold;
  font-size: 0.9em;
}
.readmore{
  .icon-chevron-right{
    display: none;
  }
}

/************ Style for Template  ****************************************************************/
label{
  min-width: 74px;
}
dt label{
  min-width: 167px;
}
#finder-filter-select-list label {
    min-width: 136px;
}

#member-registration .validate{
  margin-bottom: 0;
}

dl.article-info{
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: 10px;
  ~ dl.article-info{
    border-bottom: 0;
    margin: 0;
  }
}
table.category {
  background-color:#FBFBFB;
}
table.category thead{
  background-color: #D8D8D8;
}
#sidebar1 select, #sidebar2 select{
  min-width: 150px;
}
.counter{
  color: #999;
  display: block;
  float: left;
  line-height: 30px;
  margin-right: 5px;
  &.pull-right{
    float: left;
  }
}
.icons-left{
  float: none;
}
#breadcrumbs{
  background-color: #F8F8F8;
  font-size:0.9em;
  padding: 0 5px;
    border: 1px solid #D1D1D1;
    margin-bottom: 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.breadcrumb,
.breadcrumbs {
  margin: 0;
  padding-bottom: 0;
  padding-top: 2px;
}
.breadcrumb{
  > li{
    margin-bottom: 0;
  }
}

#breadcrumbs .icon-caret-right{
  background-image: url("../images/bread_sep.png") !important;
  height: 25px;
  width: 14px;
  background-position: 0 0 !important;
  margin-top: -4px;
  display: inline-block;
  vertical-align: middle;
}
#breadcrumbs .icon-caret-right:before{
  content: none !important;
}
dl.article-info dd{
  display: block;
  color: #7C7C7C;
}
.createdby{
  font-weight: bold;
}

/************ Footer  ****************************************************************/

div.total {
  height: 100%;
  width: 100%;
  margin-bottom: 80px;
}

#footer{
  background-color:#2E2F2D;
  background-image: none;
  filter:none;
  width: 100%;
  .grid-bottom2{
    background-image: url("../images/footer_bg.png");
    background-repeat: repeat-x;
  }
  .footer-content {
    color: #A6A6A6;
    text-align: center;
    text-shadow: 1px 1px 0 #000000;
    a {
      color: @white;
    }
    h3 {
      overflow: hidden;
    }
    .span12 {
      width: auto!important;
      display: table !important;
      margin: 0 auto;
      float: none;
    }
  }
  + img {
    display: none;
  }
}

.footer1, .footer2{
  float: none;
}

#logo{
  padding: 5px 0;
}

/* Caption */

ul.captionlist {
    margin: 0 0 10px;
    padding: 0;
}
ul.captionlist li ul {
    margin: 0;
    padding: 0;
}
#content ul.captionlist li, ul.captionlist li {
    font-size: 1em;
    font-weight: bold;
    line-height: 16px;
    list-style: none outside none;
    padding: 2px 0;
}
#content ul.captionlist li li, ul.captionlist li li {
    color: #747474;
    font-size: 0.9em;
    font-weight: normal;
    padding: 0;
}


ul ul {
  list-style:disc;
}

cite {
    color: #5E5E5E;
    float: right;
    font: italic 1.5em Georgia,"Times New Roman",Times,serif;
}
aside .nav.menu.nav-tabs{
  float: none;
}
div.js_sv{
  margin: 10px 0;
}
/*shackslides*/
body .shackSliderslider .slideTitle {
  color: #000000;
}
body .shackSliderslider .slideTitle h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}
#sliderNav a {
    height: 16px !important;
    margin: 5px 2px !important;
    text-indent: -9999px;
    width: 16px !important;
}
#sliderNav.pagination ul > li > a,
#sliderNav.pagination ul > li > span{
  border:0 none;
}
#sliderNav.pagination ul{
  box-shadow: none;
}
body #sliderNav a.sliderPrev{
  background-image: url(../images/arrow-prev.png) !important;
  background-position: center top;
  background-repeat: no-repeat;
}
body #sliderNav a.sliderNext {
  background-image: url(../images/arrow-next.png) !important;
  background-position: center top;
  background-repeat: no-repeat;
}
body .slidermanButtonsCont .sliderPrev,
body .slidermanButtonsCont .sliderNext{
  margin-top: 6%;
}
#slider a{
  text-indent: -9999px;
}
#slider a.sliderPrev {
    background: url("../images/arrows.png") no-repeat scroll 0 0 transparent !important;
    color: transparent;
    height: 30px;
    padding: 0 !important;
    width: 30px !important;
}
#slider a.sliderNext {
    background: url("../images/arrows.png") no-repeat scroll -30px 0 transparent !important;
    color: transparent;
    height: 30px;
    padding: 0 !important;
    width: 30px !important;
}
body #slider {
    border: 5px solid white;
    box-shadow: 0 0 8px #999999;
    height: auto !important;
    width: 98% !important;
}
[class^="moduletable"] > .shackSliderslider,
[class*=" moduletable"] > .shackSliderslider {
  #slider{
    width: auto !important;
    display: table;
  }
}

dl.tabs.nav{
  h3 , p{
    margin-top: 0;
    a{display: block;}
  }
  dt.tabs{
    margin-bottom: -1px;
    > span{display: block;}
  }
}
.nav-tabs a,
#myTab.nav-tabs > li > a {
  font-size: 18px;
  font-weight: bold;
  padding: 8px 12px;
}

.form-search{
  .finder{
    *{
      margin-left: 0.2em;
      margin-right: 0.2em;
    }
  }
}
.nav-tabs > li{
  margin-bottom: -1px;
}

/************ Menu  ****************************************************************/

.wrapper-menu,
.wrapper-bottom-menu {
  #gradient > .vertical(@color_four,@color_five);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  min-height:40px;
  padding-left:20px;
  padding-right:20px;
  filter: none;
  text-align: left;
  #menu,
  #bottom-menu,
  .navbar {
    margin-bottom: 0;
    .navbar-inner {
      border-radius: 0 0 0 0;
      border: 0 none;
    }
  }
}

.nav,
.navbar-inner,
.nav .navbar-inner,
.navbar .nav,
.navbar .nav .navbar-inner {
  box-shadow: none;
  li {
    >a {
        -webkit-text-shadow: none;
        -moz-text-shadow: none;
        -ms-text-shadow: none;
        -o-text-shadow: none;
        text-shadow: none;
    }
    &.dropdown {
      .dropdown-menu li {
        .sub-menu{
          &:before,
          &:after{
            display: none;
          }
        }
      }
    }
  }
  > li {
    &.dropdown {
      > .dropdown-menu{
          .border-radius(0 0 6px 6px);
          .box-shadow(none);
      }
    }
  }
}

.nav.nav-tabs {
  li {
    > a {
      color: @white;
      [class^="icon-"],
      [class*=" icon-"] {
        color: @white;
      }
      .caret {
        border-top-color: @white;
      }
      &:hover,
      &:focus {
        color: @black;
        [class^="icon-"],
        [class*=" icon-"] {
          color: @black;
        }
        .caret {
          border-top-color: @black;
        }
      }
    }
    &.active {
      > a {
        color: @black;
        [class^="icon-"],
        [class*=" icon-"] {
          color: @black;
        }
        .caret {
          border-top-color: @black;
        }
      }
    }
  }
}

.module {
  .nav {
    li {
      > a {
        color: @linkColor;
      }
      .dropdown,
      .dropdown-menu {
        background-color: @dropdownBackground;
      }
    }

    &.nav-tabs {
      li {
        > a {
          color: @white;
          .caret {
              border-top-color: @white;
          }
          [class^="icon-"],
          [class*=" icon-"] {
            color: @white;
          }
        }
      }
    }
  }
}

.navbar {
  .nav{
    >li{
      > a{
        font-weight: bold;
      }
      >.dropdown-menu{
        &:before,
        &:after{
          display: none;
        }
      }
    }
  }
  .dropdown-menu {
    border: 0;
  }
}

ul.actions.dropdown-menu{
  padding-bottom: 5px;
  padding-top: 5px;
}

.module{
  .nav, .nav.nav-list, .nav.nav-tabs , .nav.nav-pills , .nav.nav-stacked{
    > li {
      > a{
        &:hover,
        &:focus{
          background-color: @navbarLinkBackgroundActive;
          color: @navbarLinkColorActive;
          .caret {
            border-top-color: @navbarLinkColorActive;
          }
          [class^="icon-"],
          [class*=" icon-"] {
            color: @navbarLinkColorActive;
          }
        }
      }
    }
    > li.active{
      > a{
        background-color: @navbarLinkBackgroundActive;
        color: @navbarLinkColorActive;
        .caret {
          border-top-color: @navbarLinkColorActive;
        }
        [class^="icon-"],
        [class*=" icon-"] {
          color: @navbarLinkColorActive;
        }
        &:hover,
        &:focus{
          background-color: @navbarLinkBackgroundActive;
          color: @navbarLinkColorActive;
          .caret {
            border-top-color: @navbarLinkColorActive;
          }
          [class^="icon-"],
          [class*=" icon-"] {
            color: @navbarLinkColorActive;
          }
        }
      }
    }
    li.dropdown{
      background-color: transparent;
      .dropdown-menu li{
        >a{
          color: @textColor;
          font-size: @baseFontSize - 2;
          .caret {
            border-top-color: @textColor;
          }
          [class^="icon-"],
          [class*=" icon-"] {
            color: @textColor;
          }
          &:hover,
          &:focus{
            background-image: none;
            background-color: transparent;
            filter: none;
            color: @navbarLinkColorActive;

            .caret {
              border-top-color: @navbarLinkColorActive;
            }
            [class^="icon-"],
            [class*=" icon-"] {
              color: @navbarLinkColorActive;
            }
          }
        }
        &.active{
          >a{
            background-color: transparent;
            background-image: none;
            filter:none;
            color: @navbarLinkColorActive;

            .caret {
              border-top-color: @navbarLinkColorActive;
            }
            [class^="icon-"],
            [class*=" icon-"] {
              color: @navbarLinkColorActive;
            }

            &:hover,
            &:focus{
              background-color: transparent;
              color: @navbarLinkColorActive;
              .caret {
                border-top-color: @navbarLinkColorActive;
              }
              [class^="icon-"],
              [class*=" icon-"] {
                color: @navbarLinkColorActive;
              }
            }
          }
        }
      }
    }
  }
  // .nav, .nav.nav-list, .nav.nav-tabs , .nav.nav-pills , .nav.nav-stacked{
  .nav, .nav.nav-list, .nav.nav-pills{
    li.dropdown{
      .dropdown-menu{
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
  .tabs-left>.nav-tabs,
  .tabs-right>.nav-tabs{
    > li{
      &.active{
        >a{
          background-color: @bodyBackground;
          color: @linkColor;
          .caret {
            border-top-color: @linkColor;
          }
          [class^="icon-"],
          [class*=" icon-"] {
            color: @linkColor;
          }
        }
      }
    }
  }
}

.tabs-left>.nav-tabs{
  border-right-color: #000;
}
.tabs-right>.nav-tabs{
  border-left-color: #000;
}
.tabs-left>.nav-tabs, .tabs-right>.nav-tabs{
  >li:last-child >a{
    margin-bottom: 0;
  }
}