@charset "utf-8"; 
body.home{
	background: #9db4ba; /* Old browsers */
	background: -moz-linear-gradient(top,  #9db4ba 1%, #ffffff 33%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#9db4ba), color-stop(33%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9db4ba 1%,#ffffff 33%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9db4ba 1%,#ffffff 33%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9db4ba 1%,#ffffff 33%); /* IE10+ */
	background: linear-gradient(to bottom,  #9db4ba 1%,#ffffff 33%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9db4ba', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background-repeat: repeat-x;
	*background-color: #FFFFFF;
  
}

.navbar-inner {
	box-shadow: none;
}

.wrapper-menu,
.wrapper-bottom-menu{
	min-height:40px;
	padding-left:20px;
	padding-right:20px;
  background-color: #2985c2;
  background-image: -moz-linear-gradient(top, #448dbe, #007ac9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#448dbe), to(#007ac9));
  background-image: -webkit-linear-gradient(top, #448dbe, #007ac9);
  background-image: -o-linear-gradient(top, #448dbe, #007ac9);
  background-image: linear-gradient(to bottom, #448dbe, #007ac9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff448dbe', endColorstr='#ff007ac9', GradientType=0);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}


.navbar-inverse .brand, 
.navbar-inverse .nav > li > a,
.navbar .nav > li > a{
	color:white;
	font-weight: bold;
	text-shadow: 1px -1px 1px #0E62B5;
}

#toolbar .navbar-inverse .brand, 
#toolbar .navbar-inverse .nav > li > a,
#toolbar  .navbar .nav > li > a {
	text-shadow: 1px -1px 1px #666666;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret{
	border-bottom-color: #fff;
    border-top-color: #fff;
}

/******** li  hover *******************/

.dropdown-menu li > span:hover,
.dropdown-menu .active > span {
	background-image: none;
	background-color: #1872C9;
}

.navbar .nav > li:hover > a {
  background-color: #666666;
  background-image: -moz-linear-gradient(top, #666666, #282828);
  background-image: -ms-linear-gradient(top, #666666, #282828);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#282828));
  background-image: -webkit-linear-gradient(top, #666666, #282828);
  background-image: -o-linear-gradient(top, #666666, #282828);
  background-image: linear-gradient(top, #666666, #282828);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#282828', GradientType=0);
  color: #79BEFA;
  text-shadow: 0 -1px 1px #056460;	
}
.navbar .nav li.dropdown:hover > .dropdown-toggle .caret{
	border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

.nav-collapse .dropdown-menu a:hover,
.navbar-inverse .nav-collapse .dropdown-menu a:hover {
	background-color: #1872C9;
}


/******** Parent active *******************/

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle,
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	color: #FFFFFF;
	text-shadow:1px 1px 1px #0564C0;
  background-color: #1c68a2;
  background-image: -moz-linear-gradient(top, #1c68a2, #0053b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1c68a2), to(#0053b3));
  background-image: -webkit-linear-gradient(top, #1c68a2, #0053b3);
  background-image: -o-linear-gradient(top, #1c68a2, #0053b3);
  background-image: linear-gradient(to bottom, #1c68a2, #0053b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c68a2', endColorstr='#0053b3', GradientType=0);
}



/***************** Sub  Menu **************************************/


.dropdown-menu a{
	color: white;
}
.dropdown-menu li > a:hover, 
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a{
	background-color: #1872C9;
	background-image: none;
}

/*********************************************/


/*********************************************/

#footer h3 {
    color: #8EAAC6;
    height: 60px;
    letter-spacing: normal;
    line-height: 51px;
    text-shadow: 1px -1px 1px #000000;
}
/*********************************************/


@media (max-width: 767px) {
		.wrapper-menu,
			.wrapper-bottom-menu  {
		background-image: url("../images/blue/bg-menu-movil.jpg");
		background-repeat: repeat-x;
		background-color: black;
	}
	.navbar .nav > li > a{
		text-shadow: 0 0 ;
	}
	.navbar-inner{
		background-color: transparent;
		background-image: none;
	}
	
	
}


/************ read more  ****************************************************************/
p.readmore .btn{
	color: #2985C2;
}

.nav-tabs {
	border-bottom-color: #0D70D2;
}

.nav-tabs .tabs a {
    border-color: #0D70D2;
	background-color: #0D70D2;
	color: #FFFFFF;
	font-size: 0.8em;
	border-bottom: 4px solid #0D70D2;
}

.nav-tabs > .open a {
	background-color: #FFFFFF;
	color: #0D70D2;
	border-bottom: 5px solid #fff;
}
