@charset "utf-8"; 
body.home{
	background: #9db4ba; /* Old browsers */
	background: -moz-linear-gradient(top,  #9db4ba 1%, #ffffff 33%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#9db4ba), color-stop(33%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9db4ba 1%,#ffffff 33%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9db4ba 1%,#ffffff 33%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9db4ba 1%,#ffffff 33%); /* IE10+ */
	background: linear-gradient(to bottom,  #9db4ba 1%,#ffffff 33%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9db4ba', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background-repeat: repeat-x;
	*background-color: #FFFFFF;
  
}

.navbar-inner {
	box-shadow: none;
	background-image: none;
	filter: none;
	-ms-filter:none;
	background-color:transparent;
}

.wrapper-menu,
.wrapper-bottom-menu{
	min-height:40px;
	padding-left:20px;
	padding-right:20px;
  background-color: #9e1100;
  background-image: -moz-linear-gradient(top, #ae1300, #870d00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ae1300), to(#870d00));
  background-image: -webkit-linear-gradient(top, #ae1300, #870d00);
  background-image: -o-linear-gradient(top, #ae1300, #870d00);
  background-image: linear-gradient(to bottom, #ae1300, #870d00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffae1300', endColorstr='#ff870d00', GradientType=0);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}


.navbar-inverse .brand, 
.navbar-inverse .nav > li > a,
.navbar .nav > li > a{
	color:white;
	font-weight: bold;
	text-shadow: 1px -1px 1px #4B0001;
}

#toolbar .navbar-inverse .brand, 
#toolbar .navbar-inverse .nav > li > a,
#toolbar  .navbar .nav > li > a {
	text-shadow: 0px -1px 1px #666666;
}

/******** li  hover *******************/

.dropdown-menu li > span:hover,
.dropdown-menu .active > span {
	background-image: none;
	background-color: #A70000;
}

.navbar .nav > li:hover > a {
  background-color: #666666;
  background-image: -moz-linear-gradient(top, #666666, #282828);
  background-image: -ms-linear-gradient(top, #666666, #282828);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#282828));
  background-image: -webkit-linear-gradient(top, #666666, #282828);
  background-image: -o-linear-gradient(top, #666666, #282828);
  background-image: linear-gradient(top, #666666, #282828);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#282828', GradientType=0);
  color: #E00003;
  text-shadow: 0 -1px 1px #056460;	
}
.navbar .nav li.dropdown:hover > .dropdown-toggle .caret{
	border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

.nav-collapse .dropdown-menu a:hover,
.navbar-inverse .nav-collapse .dropdown-menu a:hover {
	background-color: #A70000;
}


/******** Parent active *******************/

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle,
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	color: #FFFFFF;
	text-shadow:1px 1px 1px #370000;
  background-color: #6a0700;
  background-image: -moz-linear-gradient(top, #6a0700, #390200);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6a0700), to(#390200));
  background-image: -webkit-linear-gradient(top, #6a0700, #390200);
  background-image: -o-linear-gradient(top, #6a0700, #390200);
  background-image: linear-gradient(to bottom, #6a0700, #390200);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6a0700', endColorstr='#390200', GradientType=0);
}



/***************** Sub  Menu **************************************/


.dropdown-menu a{
	color: white;
}
.dropdown-menu li > a:hover, 
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a{
	background-color: #A70000;
	background-image: none;
}

/*********************************************/


/*********************************************/

#footer h3 {
    color: #C78882;
    height: 60px;
    letter-spacing: normal;
    line-height: 51px;
    text-shadow: 1px -1px 1px #000000;
}
/*********************************************/


@media (max-width: 969px) {
		.wrapper-menu,
			.wrapper-bottom-menu  {
		background-image: url("../images/red/bg-menu-movil.jpg");
		background-repeat: repeat-x;
		background-color: black;
	}
	.navbar .nav > li > a{
		text-shadow: 0 0 ;
	}
	.navbar-inner{
		background-color: transparent;
		background-image: none;
	}
	
	
}

/************ Input & textarea color  ****************************************************************/
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
input[type="number"]:focus, input[type="email"]:focus, 
input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus,
input[type="color"]:focus, .uneditable-input:focus,
input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus{
  	border-color: #A70000;
  	box-shadow:0 1px 1px #A70000 inset, 0 0 8px #6A0700;
}


/************ read more  ****************************************************************/
p.readmore .btn{
	color: #A70000;
}


.nav-tabs {
	border-bottom-color: #A70000;
}

.nav-tabs .tabs a,
#myTab.nav-tabs > li > a  {
    border-color: #A70000;
	background-color: #A70000;
	color: #FFFFFF;
}

.nav-tabs > .open a {
	background-color: #FFFFFF;
	color: #A70000;
	border-bottom: 0 none;
}
#myTab.nav-tabs > .active > a, 
#myTab.nav-tabs > .active > a:hover{
	background-color:transparent;
	border-color:#A70000 #A70000 white;
	color: #A70000;
}
#myTab.nav-tabs > li > a:hover{
	border-color: #A70000;
	background-color: #A70000;
}
#sliderNav .active a{
	background: url("../images/red/pagination-red.png") no-repeat scroll 50% 0 transparent !important;
}
body #sliderNav ul li a{
	background: url("../images/red/pagination-red.png") no-repeat scroll 50% 100% transparent !important;
}