#breadcrumbs {line-height: 24px;height: 25px;padding: 0;border-radius:4px;behavior: url('templates/impacto/css/PIE.php');}
blockquote {max-width: 740px;}
#breadcrumbs .sep,#breadcrumbs a.pathway,#breadcrumbs .curpage {position: relative;top: 0px;*top: -2px;}
#message {display: inline;}
