/*--------- TABLE OF CONTENTS---------*/
/* Body
------------------------------------- */
/* @group Header
------------------------------------- */
/* @group Typography
------------------------------------- */
/* @group Featured Slider
------------------------------------- */
/* @group NavBar
------------------------------------- */

body,html {
	background-color: #fff;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 90%;
	color: #000;
}

/* @group Header */

/* @end */

/* @group Typography */

a,a:visited,a:active {
	color: #690;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #9abb56;
}


h1 { color: #000;}

h2 { color: #333; }

h3 { color: #707070;}

h4 { color: #565656;}

h5 { color: #747474;}

h6 { color: #959595;}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover {
	color: #000;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6,
div.componentheading {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;font-weight: bold;
}
	
div.componentheading,h1 { font-size: 2.5em; line-height: 1; margin-bottom: 0.25em;letter-spacing: -1px;}
h1.bigheading,h2.subheading {
	text-align: center;
	font-size: 42px;
	text-shadow: #d3ebf1 1px 1px 0;
	margin: 0;
	padding: 0;
	line-height: 110%;
	color: #000;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
h2.subheading {
	font-size: 38px;
	margin-bottom: 20px;
	text-shadow: #fff 1px 1px 0;
}
h2.subheading span {
	color: #eb4406;
}

h2 { font-size: 2em; margin-bottom: 0.25em;letter-spacing: -1px;}

h3 { font-size: 1.6em; line-height: 1; margin-bottom: 0.25em;}

h4 { font-size: 1.4em; line-height: 1; margin-bottom: 0.25em; font-weight: bold;}

h5 { font-size: 1.4em; margin-bottom: 0.5em;font-weight: normal;font-style: normal;}

h6 { font-size: 1.2em;margin-bottom: 0.5em;  }

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover {
	text-decoration: none;
}


/* Text elements

-------------------------------------------------------------- */

p { font-size: 1.05em;margin: 0 0 0.85em 0;line-height: 150%;}
ul, ol {padding: 0 0 1em 1.5em;margin: 0;}
ul { list-style-type: disc;}
ol { list-style-type: decimal; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dl dd { margin-left: 1.5em; }
li {line-height: 135%;}


img.centered,.centered {display: block;margin-left: auto;margin-right: auto;}
img.alignright,img.floatright {padding: 4px;margin: 0 0 2px 7px;display: inline;}
img.alignleft,img.floatleft {padding: 4px;margin: 0 7px 2px 0;display: inline;}
.alignleft,.floatleft {float: left;}
.alignright,.floatright {float: right;}

div.clear {
	clear: both;
}



/* @end */