
/*--------- TABLE OF CONTENTS---------*/

/* General Background, Text and Links
------------------------------------- */
/* Header Colors and Size
------------------------------------- */
/* Leader Module
------------------------------------- */
/* Sidebar Modules
------------------------------------- */
/* Base Typography
------------------------------------- */
/* Base Landing Pages
------------------------------------- */
/* Navigation
------------------------------------- */

body {
	/* Background Color */
	background: #fff url(../images/style1/header_bg.png) repeat-x;
	/* Text Color */
	color: #3a3936;
	/* Font Style */
	font-family: Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}




/* @group Header */

#header {
	width: 100%;
	background-image: url(../images/style1/header_bg.png);
}

/* Header Logo - Set size in template parameters! */
#header span#graphic a,#header h1#graphic a {
	background-image: url(../images/style1/logo.png);
}

/* Text Logo */
#header span#text-header a,#header h1#text-header a {
	font-size: 40px;
	line-height: 100%;
	color: #fe5d13;
	text-shadow: #000 1px 1px 1px;
}

/* Text Logo Hover */
#header span#text-header a:hover,#header h1#text-header a:hover {
	color: #fff;
}

/* Text Slogan */
#header span#text-slogan,#header h2#text-slogan {
	font-size: 18px;
	color: #ffc54c;
	text-shadow: #000 0 1px 1px;
}

/* @end */

/* @group Leader */
#wrap,#wrap .container_24 {
	background: #fff url(../images/style1/teaser_bg_sm.png) repeat-x center top;
}
body.landing #wrap,body.landing #wrap .container_24 {
	background: #fff url(../images/style1/teaser_bg.png) repeat-x center top;
}

/*body.landing #teaser {
	background: url(../images/style1/teaser_highlight.png) no-repeat center top;
	padding-top: 10px;
	position: relative;
	top: -10px;
}*/



/* @end */


/* @group Modules */

/* Leader 1,2,3 Module Headings */


/* Left and Right Module Headings */

.sidebar .moduletable h3,.sidebar .moduletable_menu h3 {
	border-bottom: 3px solid #d8d8d8;
	padding: 0 0 4px 0;
	margin: 0 0 8px 0;
	font-weight: normal;
	font-style: normal;
}


#footer,#footer .container_24 {
	background: #2E2F2D url(../images/style1/footer_bg.png) repeat-x center top;
	color: #a6a6a6;
	text-shadow: #000 1px 1px 0px;
}



/* Footer Module Headings */

#footer h3 {
	color: #e94e04;
	font-size: 18px;
	text-shadow: #000 1px -1px 1px;
	margin: 0px;
	letter-spacing: normal;
	line-height: 69px;
	padding-bottom: 10px;
}

/* Copyright Text */




/* @end */




/* @group Typography */

/* Links */

a {
	color: #e46c07;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #ff5e0f;
}
#topnav a {
	color: #7d878a;
}


/* Headings */


/* Breadcrumbs */


#breadcrumbs .sep {
	background-image: url(../images/style1/bread_sep.png);
}

/* Read More links */



/* Side Navigation */


.sidebar ul.menu li a,.sidebar ul.menu_menu li a {
  /*	border-top: 1px solid #fff;
	border-bottom: 1px solid #e2e2e2;
	color: #000;*/
}
.sidebar ul.menu li a:hover,
.sidebar ul.menu_menu li a:hover {
	color: #e46c07;
	text-decoration: underline;
}

.sidebar ul.menu li.current a,
.sidebar ul.menu_menu li.current a {
	border-bottom: 0px solid #fff;
	color: #e46c07;
}





/* Forms */

input[type="submit"], input[type="button"],button{
	background-color: #669900;
	border: 4px solid #9ABB56;
	color: #fff;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
input[type="submit"]:hover, input[type="button"]:hover{border-color: #669900;}

/* @end */

/* @group Landing Pages */

/*#teaser {
	background: url(../images/style1/teaser_highlight.png) no-repeat center top;
}*/



h2.subheading span {
	color: #eb4406;
}



/* Button */

div.bigbutton {
	color: red;
    float: right;
}

div.bigbutton a {
    background: transparent url('../images/style1/btn_right.png') no-repeat scroll top right;
    display: block;
    font: normal 12px arial, sans-serif;
    height: 66px;
    margin: 0 10px 0px 3px;
    padding: 0px 34px 0px 3px;
    text-decoration: none;
    text-align: center;
    text-shadow: #000 0px -2px 0px;
}

div.bigbutton a span.title {
    background: transparent url(../images/style1/btn_left.png) no-repeat;
    display: block;
    padding: 0px 0px 0px 34px;
    height: 66px;
    font-size: 20px;
    line-height: 46px;
    font-weight: bolder;
} 



/* @end */





/* @group Navbar */


#nav,#nav .innerwrap {
	background: url(../images/style1/nav_bg.png) repeat-x;
	font: bold 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#nav ul li a {
	color: #fff;text-shadow: #b13b02 1px -1px 1px;padding: 0px 14px;
}


#nav ul li a:hover,
#nav ul li:hover > a {
	color: #fe5c11;
	text-shadow: #000 0px -1px 1px;
	background: url(../images/style1/nav_hover.png) repeat-x;
}

#nav ul li.current a,
#nav ul li.current a:hover,
#nav ul li#current a,
#nav ul li#current a:hover {
	color: #7f2800;
	text-shadow: #fea356 1px 1px 1px;
	background: url(../images/style1/nav_active.png) repeat-x;
}




#nav .menu li li li,
#nav .menu li li:hover,
#nav .menu li li.sfHover,
#nav .menu li li a:focus,
#nav .menu li li a:hover,
#nav .menu li li a:active {
	background: #ff6d28;
	color: #fff;
	text-shadow: none;
}

#nav .menu li:hover ul,
#nav .menu li.sfHover ul {
	background: url(../images/style1/menu_footer.png) no-repeat center bottom;
}

#nav .menu li li {
	background: url(../images/style1/menu_bg_trans.png) repeat;
}

span.sf-sub-indicator {
	text-indent: 0em;
	display: inline;
	width: 0px;
	height: 0px;
	float:none;
	position: relative;
	top: 0px;
	left: 0px;
}

/* @end */

h2
{
    font-size: 1.8em;
    letter-spacing: -1px;
    margin-bottom: 0.25em;
}
