#nav {height: 46px;margin: 0 auto;z-index: 5000;font-size: 15px;position:relative;}
#nav ul,#nav ul li {list-style: none;float: left;line-height: 46px;}
#nav ul {margin: 0;padding: 0;}
#nav ul li {margin: 0;position: relative;}

#nav .menu ul {position:absolute;top:-999em;}

#nav .menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
#nav .menu li {
	float:			left;
	position:		relative;
}
#nav .menu a {
	display:		block;
	position:		relative;
}
#nav .menu li:hover ul,
#nav .menu li.sfHover ul {
	left:0;
	top:46px;
	width: 200px;
	padding-bottom: 5px;
}

#nav ul li.current li a,
#nav ul li.current li a:hover,
#nav .menu li li:hover ul,
#nav .menu li li.sfHover ul {
	background-image: none;
	padding-bottom: 0px;
}

#nav ul.menu li:hover li ul,
#nav ul.menu li.sfHover li ul {
	top:-999em;
}
#nav ul.menu li li:hover ul,
#nav ul.menu li li.sfHover ul {
	left:200px;
	top:0;
}
#nav ul.menu li li:hover li ul,
#nav ul.menu li li.sfHover li ul {
	top:-999em;
}
#nav ul.menu li li li:hover ul,
#nav ul.menu li li li.sfHover ul {
	left:200px;
	top:0;
}
#nav .menu {
	float:	left;
	width: 100%;
}
#nav .menu a {
	text-decoration:none;
}
#nav .menu li a {
	height: 46px;
}
#nav .menu li li a,
#nav .menu li li a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	text-shadow: none;
	font-size: 12px;
	font-weight: normal;
	line-height: 28px;
	height: 28px;
}
#nav ul.menu ul {background-image: none;margin: 0;padding: 0;}
#nav .menu li li {line-height: 28px;width: 200px;}
#nav .menu li li a,#nav .menu li:hover li a {background-image: none;}
#nav .menu li li:hover, #nav .menu li li.sfHover,#nav .menu li li a:focus, #nav .menu li li a:hover, #nav .menu li li a:active {outline:0;}
span.sf-sub-indicator {
	text-indent: -99999em;
	display: block;
	width: 12px;
	height: 9px;
	float: right;
	position: relative;
	top: 20px;
	left: 4px;
}